.form__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: flex-start;
}

.form__panel {
    width: 470px;
}

.form__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form__element {
    margin-bottom: 10px;
}

.form__element label {
    font-size: 14px;
    display: block;
}

.form__element .feature {
    box-sizing: border-box;
    width: 70px;
    min-width: 70px;
    height: 45px;
    min-height: 45px;
    margin-right: 10px;
    float: left;
    position: relative;
}

.form__element .feature:last-child {
    margin-right: 0;
}

.form__element--wide input {
    width: 100%;
    display: block;
}

.form__element--wide textarea {
    width: 100%;
    height: 214px;
}

.form__photo-container {
    display: flex;
    flex-wrap: wrap;
}

.form__photo {
    margin-right: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;

    width: 70px;
    height: 70px;
    min-width: 70px;
    max-width: 70px;

    border-radius: 4px;
    border: 4px transparent;

    background: #dadad4;
}

.form__submit {
    display: block;
    margin: 35px auto;
}

.feature__image {
    width: 70px;
    min-width: 70px;
    height: 45px;
    min-height: 45px;
}

.feature__image--wifi {
    background-position: 2px -298px;
}

.feature__image--dishwasher {
    background-position: 0 -7px;
}

.feature__image--parking {
    background-position: 4px -181px;
}

.feature__image--washer {
    background-position: 6px -240px;
}

.feature__image--elevator {
    background-position: 4px -64px;
}

.feature__image--conditioner {
    background-position: 5px -123px;
}