<div class="notice__description">Ваша фотография (для карты)</div>
<div class="notice__photo">
  <div class="notice__preview">
    <img src="../assets/img/muffin.png" alt="User Avatar" width="40" height="44">
  </div>
  <div class="drop-zone  upload">
    <input type="file">
    <span class="drop-zone">Загрузите или&nbsp;перетащите сюда фото</span>
  </div>
  <p class="notice__info">Заполните все обязательные поля, назначьте цену, загрузите фотографии. Придумайте интересное описание. Оно сделает объявление более живым и привлекательным. Получившееся объявление должно давать гостям полное представление о вашем жилье.</p>
</div>