<form-notice-address class="form__element  form__element--wide"></form-notice-address>
<form-notice-checkin-checkout class="form__row"></form-notice-checkin-checkout>
<form-notice-features class="form__element"></form-notice-features>

<div class="form__element">
  <label>Фотографии жилья</label>
  <div class="form__photo-container">
    <div class="drop-zone  upload">
      <input type="file">
      <span class="drop-zone">Загрузите или&nbsp;перетащите сюда фото</span>
    </div>
    <div class="form__photo"></div>
    <div class="form__photo"></div>
    <div class="form__photo"></div>
    <div class="form__photo"></div>
    <div class="form__photo"></div>
    <div class="form__photo"></div>
    <div class="form__photo"></div>
    <div class="form__photo"></div>
    <div class="form__photo"></div>
    <div class="form__photo"></div>
    <div class="form__photo"></div>
    <div class="form__photo"></div>
    <div class="form__photo"></div>
    <div class="form__photo"></div>
    <div class="form__photo"></div>
    <div class="form__photo"></div>
  </div>
</div>
