<form-notice-address class="form__element  form__element--wide"></form-notice-address>
<form-notice-checkin-checkout class="form__row"></form-notice-checkin-checkout>

<div class="form__element">
  <label>Удобства: wi-fi, кухня, парковка, стиралка, лифт, кондиционер</label>
  <fieldset id="features" name="features">
    <label class="feature">
      <input type="checkbox" name="features" value="wifi" class="feature__input">
      <span class="feature__image  feature__image--wifi"></span>
    </label>
    <label class="feature">
      <input type="checkbox" name="features" value="dishwasher" class="feature__input">
      <span class="feature__image  feature__image--dishwasher"></span>
    </label>
    <label class="feature">
      <input type="checkbox" name="features" value="parking" class="feature__input">
      <span class="feature__image  feature__image--parking"></span>
    </label>
    <label class="feature">
      <input type="checkbox" name="features" value="washer" class="feature__input">
      <span class="feature__image  feature__image--washer"></span>
    </label>
    <label class="feature">
      <input type="checkbox" name="features" value="elevator" class="feature__input">
      <span class="feature__image  feature__image--elevator"></span>
    </label>
    <label class="feature">
      <input type="checkbox" name="features" value="conditioner" class="feature__input">
      <span class="feature__image  feature__image--conditioner"></span>
    </label>
  </fieldset>
</div>
<div class="form__element">
  <label>Фотографии жилья</label>
  <div class="form__photo-container">
    <div class="drop-zone  upload">
      <input type="file">
      <span class="drop-zone">Загрузите или&nbsp;перетащите сюда фото</span>
    </div>
    <div class="form__photo"></div>
    <div class="form__photo"></div>
    <div class="form__photo"></div>
    <div class="form__photo"></div>
    <div class="form__photo"></div>
    <div class="form__photo"></div>
    <div class="form__photo"></div>
    <div class="form__photo"></div>
    <div class="form__photo"></div>
    <div class="form__photo"></div>
    <div class="form__photo"></div>
    <div class="form__photo"></div>
    <div class="form__photo"></div>
    <div class="form__photo"></div>
    <div class="form__photo"></div>
    <div class="form__photo"></div>
  </div>
</div>
