.notice__title {
    font-family: Roboto, serif;
    font-weight: bold;
    font-size: 28px;
    margin-top: 28px;
    margin-bottom: 20px;
}

app-notice-header, app-notice-form {
    display: block;
}
