<div class="form__element">
    <label for="timein">Время заезда и выезда</label>
    <select class="form__bottom-element" id="timein" name="timein">
      <option *ngFor="let time of times" value="{{ time }}">После {{ time }}</option>
    </select>
  </div>
  <div class="form__element">
    <label for="timeout">&nbsp;</label>
    <select class="form__bottom-element" id="timeout" name="timeout" title="Time to go out">
      <option *ngFor="let time of times" value="{{ time }}">Выезд до {{ time }}</option>
    </select>
  </div>
