.pin {
    position: absolute;

    width: 56px;
    height: 75px;

    top: 340px;
    left: 536px;

    background-image: url("../../assets/img/pin.png");
}

.pin:hover {
    cursor: pointer;
}

.pin:focus {
  outline: none;
  box-shadow: 0 0 4px 2px #ff6547;
}

.pin:focus img {
  box-shadow: 0 0 30px rgb(128, 30, 0);
}

.selected {
    background-image: url("../../assets/img/pin-active.png");
}

.pin img {
    margin-left: 3px;
    margin-top: 3px;
    padding: 5px;
}

.pin__main {
    width: 75px;
    height: 94px;

    background-image: url("../../assets/img/main-pin.png");
}

.pin__main img {
    margin-left: 7px;
    margin-top: 5px;
    padding: 10px;
}

.rounded {
    border-radius: 50%;
}
