<form action="#" class="tokyo__filters" autocomplete="off">
    <house-type></house-type>
    <house-price></house-price>
    <house-rooms></house-rooms>
    <house-guests></house-guests>
    <fieldset id="housing_features" class="tokyo__filter-set">
      <label class="feature"></label>
      <label class="feature"></label>
      <label class="feature"></label>
      <label class="feature"></label>
      <label class="feature"></label>
      <label class="feature"></label>
    </fieldset>
</form>
