<form action="#" class="tokyo__filters" autocomplete="off" (change)="saveFilterValues($event)">
    <house-type></house-type>
    <house-price></house-price>
    <house-rooms></house-rooms>
    <house-guests></house-guests>
    <fieldset id="housing_features" class="tokyo__filter-set">
      <label *ngFor="let filter of filterSet" class="filter-set__feature">
        <input type="checkbox" name="feature" value="{{ filter }}" class="feature__input">
        <span class="feature__image feature__image--{{ filter }}"></span>
      </label>
    </fieldset>
</form>
