<form action="#" class="tokyo__filters" autocomplete="off" (change)="saveFilterValues($event)">
  <label *ngFor="let selectFilter of selectFilters">
    <select name="{{ selectFilter.name }}" id="{{ selectFilter.name }}" class="tokyo__filter">
      <option *ngFor="let option of selectFilter.options" [value]="option.key">{{option.value}}</option>
    </select>
  </label>
  <fieldset id="housing_features" class="tokyo__filter-set">
    <label *ngFor="let filter of filterSet" class="filter-set__feature">
      <input type="checkbox" name="feature" value="{{ filter.name }}" id="{{ filter.name }}" class="feature__input">
      <span class="feature__image feature__image--{{ filter.name }}"></span>
    </label>
  </fieldset>
</form>
