.tokyo__filters {
    width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.tokyo__filter-set {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

    display: inline;
}

/* отсортировать по компонентам */

.tokyo__filter-set .feature {
    width: 30px;
    min-width: 30px;
    height: 28px;
    min-height: 28px;
}

.tokyo__filter-set .feature__image {
    width: 30px;
    min-width: 30px;
    height: 28px;
    min-height: 28px;

    background-size: 100%;
}

.tokyo__filter-set .feature__image--dishwasher {
    background-position: 0 1px;
}

.tokyo__filter-set .feature__image--elevator {
    background-position: 2px -22px;
}

.tokyo__filter-set .feature__image--conditioner {
    background-position: 2px -46px;
}

.tokyo__filter-set .feature__image--parking {
    background-position: 2px -70px;
}

.tokyo__filter-set .feature__image--washer {
    background-position: 2px -94px;
}

.tokyo__filter-set .feature__image--wifi {
    background-position: 1px -118px;
}
