<div class="form__element">
  <label for="room_number">Кол-во комнат</label>
  <select class="form__bottom-element" id="room_number" #roomsSelect name="rooms" (change)="saveSelectedIndex(roomsSelect.selectedIndex)">
    <option *ngFor="let roomsParam of roomsParams" value="{{ roomsParam.value }}" [class.selected]="roomsParam.selected">{{ roomsParam.text }}</option>
  </select>
</div>
<div class="form__element">
  <label for="capacity">Количество мест</label>
  <select class="form__bottom-element" id="capacity" name="capacity">
    <option *ngFor="let guestsParam of guestsParams" value="{{ guestsParam.value }}" [class.selected]="guestsParam.selected" [class.hidden]="guestsParam.disabled" [class.disabled]="guestsParam.disabled">{{ guestsParam.text }}</option>
  </select>
</div>
