.form__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: flex-start;
}

.form__panel {
    width: 470px;
}

.form__submit {
    display: block;
    margin: 35px auto;
}