.tokyo__filter {
    font-size: 14px;
    text-indent: 0;

    width: 160px;
    height: 30px;

    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.tokyo__filter option:hover {
    background-color: #ff6547;
}