<div class="form__element">
  <label for="type">Тип жилья</label>
  <select class="form__bottom-element" id="type" #typeSelect name="type" (change)="saveSelectedIndex(typeSelect.selectedIndex)">
    <option value="flat">Квартира</option>
    <option value="bungalo">Лачуга</option>
    <option value="house">Дом</option>
    <option value="palace">Дворец</option>
  </select>
</div>
<div class="form__element">
  <label for="price">Цена за ночь, руб.</label>
  <input class="form__bottom-element" id="price" name="price" type="number" placeholder="от {{ minPrice }} до {{ maxPrice }}" min="{{ minPrice }}" max="{{ maxPrice }}" required>
</div>
