<img src="./assets/img/main.jpg" alt="Tokyo" width="1200" height="700" (click)="deselectNotice()">
<app-tokyo-filters [notices]="noticesFromServer" (filteredNoticesEmitter)="filteredNoticesHandler($event)"></app-tokyo-filters>
<app-tokyo-pin-map [selectedNotice]="selectedNotice" (selectedEmitter)="selectedHandler($event)"
                   (defaultCoordinatesEmitter)="defaultCoordinatesHandler($event)" [notices]="noticesToShow">
</app-tokyo-pin-map>
<app-tokyo-offer-dialog [selectedNotice]="selectedNotice" [class.hidden]="selectedNotice === undefined || selectedNotice === null"
                        (hideDialogEmitter)="deselectNotice()" class="dialog">
</app-tokyo-offer-dialog>
