<div class="form__element">
  <label for="type">Тип жилья</label>
  <select class="form__bottom-element" id="type" name="type">
    <option value="flat" selected>Квартира</option>
    <option value="bungalo">Лачуга</option>
    <option value="house">Дом</option>
    <option value="palace">Дворец</option>
  </select>
</div>
<div class="form__element">
  <label for="price">Цена за ночь, руб.</label>
  <input class="form__bottom-element" id="price" name="price" type="number" placeholder="1000" min="1000" max="1000000" required>
</div>
