<div class="footer-center-wrapper">
    <div class="footer-logo">
        Сделано в <a tabindex="0" href="https://htmlacademy.ru" class="footer-link footer-logo-link"><img src="./assets/img/ha-logo.png" class="footer-logo-image" width="130" alt="HTML Academy"/>HTML Academy</a> &copy; 2017
    </div>
    <nav class="footer-social">
        <a *ngFor="let link of socialLinks" href="{{ link.address }}" class="footer-link footer-social-item footer-social-item-{{ link.name }}" target="_blank" rel="nofollow">{{ link.text }}</a>
    </nav>
</div>
