<form-notice-title class="form__element form__element--wide"></form-notice-title>
<form-notice-type-price class="form__row"></form-notice-type-price>
<form-notice-rooms-guests class="form__row"></form-notice-rooms-guests>

<div class="form__element  form__element--wide">
  <label for="description">Описание (не обязательно)</label>
  <textarea class="form__bottom-element" id="description" name="description" placeholder="Здесь расскажите о том, какое ваше жилье замечательное и вообще"></textarea>
</div>
